@using Okul.Web.DTOs;

@model List<KullaniciDTO>

<h2 class="title"><b>Öğrenci Listeleme</b></h2>
<table id="tblOgrenciler" class="table table-condensed">
    <thead>
        <tr>
            <th class="col-2"><b>Resim</b></th>
            <th class="col-2"><b>Öğrenci Numarası</b></th>
            <th class="col-2"><b>Ad</b></th>
            <th class="col-2"><b>Soyad</b></th>
            <th class="col-2"><b>Birim</b></th>
            <th class="col-2"><b>Bölüm</b></th>
        </tr>
    </thead>
    <tbody>
        @foreach (KullaniciDTO k in Model)
        {
            <tr>
                <td><img src="~/Content/images/kullanici/@k.Foto" alt="" height=50 width=80 /></td>
                <td>@k.OgrenciNo</td>
                <td>@k.Ad</td>
                <td>@k.Soyad</td>
                <td>@k.BirimAdi</td>
                <td>@k.BolumAdi</td>
            </tr>
        }
    </tbody>
</table>
<input type="button" id="btnGetCount" value="Toplam Öğrenci Sayısı" onclick="CountRows()" class="btn btn--radius-2 btn--blue" />
<script type="text/javascript">
    function CountRows() {
        var totalRowCount = 0;
        var rowCount = 0;
        var table = document.getElementById("tblOgrenciler");
        var rows = table.getElementsByTagName("tr")
        for (var i = 0; i < rows.length; i++) {
            totalRowCount++;
            if (rows[i].getElementsByTagName("td").length > 0) {
                rowCount++;
            }
        }
        var message = "\nToplam Öğrenci Sayısı: " + rowCount;
        alert(message);
    }
</script>